form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 25%;
}
textarea{
    padding: 10px;
    margin: 10px;
    border: solid 1px;
    border-radius: 6px;
}
button{
    margin: 5px 
}
/*Clases*/
.botones{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.alertas {
    padding: 15px 10px;
    border-radius: 20px;
    margin-top: 10px;
    color: white;
  }
#alerta1 {
    display: none;
    background-color: #28a745;
}