form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 25%;
}
textarea{
    padding: 10px;
    margin: 10px;
    border: solid 1px;
    border-radius: 6px;
}
button{
    margin: 5px 
}
/*Clases*/
.botones{

    display: flex;
    justify-content: center;
}
.alerta{
    text-align: center;
    color: white;
    background-color: #dc3545;
    margin: 10px 20%;
    padding: 15px 10px;
    border-radius: 20px;;
}
